/* GRAYS --------------------------------------------------------- */ 

@gray-darker:            lighten(#000, 30%); 

/* COLORS --------------------------------------------------------- */

@color-primary:         @color-purple;
@color-success:         @color-purple-dark;	
@color-info:            @color-twilight;	
@color-warning:         @color-red-dark;	 
@color-danger:          @color-midnight;	 

/* COLORED BG -------------------------------------------------------- */ 

.bg-primary {
    background-color: @color-clouds;
}
.bg-success {
    background-color: @color-purple;
}
.bg-info {
    background-color: @color-twilight; 
}
.bg-warning {
    background-color: @color-purple-dark;
}
.bg-danger {
    background-color: @color-midnight;
}

/* TEXTS & LINKS --------------------------------------------------- */	

@text-muted:        @color-primary;
@link-color:        @color-primary;
@link-hover-color:  @color-success;

/* BUTTONS --------------------------------------------------------- */

@btn-primary-bg:                 @color-silver;
@btn-success-bg:                 @color-concrete;
@btn-info-bg:                    @color-purple;
@btn-warning-bg:                 @color-purple-light;
@btn-danger-bg:                  @color-red;

.btn .fa {
	color: white;}

.btn-default .fa {
	color: @gray-dark;}

/* TRANSPARENT BG --------------------------------------------------- */
/* Used in snippets Prx Image Color and Prx Image Shade ------------- */

.bg-transparent-color 		{ background: @color-twilight; opacity: 0.85;} 
.bg-transparent-shade		{ background: black; opacity: 0.5;} 

/* Footer ----------------------------------------------------------- */

#wrapwrap footer {
   background-color: @color-concrete-dark;
    color: @gray-light;
    }	
footer ul li a {
	color: @color-clouds;
	}	
footer ul li a:hover {
	color: white;
    text-decoration: none;
	}   
footer h4 {
	color: @gray-lighter;
	padding-bottom: 12px;
    text-transform: uppercase;
    }
footer .fa {
    color: @color-concrete; 
  }                                