.o_payment_form {
    label > input[type="radio"], input[type="checkbox"]{
        vertical-align: bottom;
        margin-right: 5px;
    }

    .payment_option_name {
        font-size: 14px;
        font-weight: normal !important;
        font-family: Helvetica Neue, sans-serif;
        line-height: 1.3em;
        color: #4d4d4d;
    }

    label {
        font-weight: normal;
    }

    .panel-body:first-child {
        border-top: 0px;
    }

    .panel {
        border-radius: 10px;
    }

    .panel-footer:last-child {
        border-bottom-right-radius: 10px !important;
        border-bottom-left-radius: 10px !important;
    }

    .panel-body {
        border-top: 1px solid #ddd;
        padding: 1.14em !important;
    }

    .payment_icon_list {
        li {
            padding-left: 5px !important;
            padding-right: 0px !important;
        }

        .more_option {
            font-size:10px;
        }

        margin-top: 0px !important;
        margin-bottom: -5px !important;
    }
}                                